<div class="container-fluid p-5">
  <div class="row">
    <div class="col">
      <p class="custom-font text-shadow">
        Portfolio
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <app-section title="WEB DESIGN" color="#959188"></app-section>
    </div>
    <div class="col-4">
      <app-section title="MOBILE DESIGN" color="#404040"></app-section>
    </div>
    <div class="col-4">
      <app-section title="LOGO DESIGN" color="#959188"></app-section>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <app-section
        title="WEB APPLICATION DEVELOPMENT"
        color="#404040"
      ></app-section>
    </div>
    <div class="col-4">
      <app-section
        title="MOBILE APPLICATION DEVELOPMENT"
        color="#959188"
      ></app-section>
    </div>
    <div class="col-4">
      <app-section
        title="PWA APPLICATION DEVELOPMENT"
        color="#404040"
      ></app-section>
    </div>
  </div>
</div>
