<div class="row p-5">
  <div class="col-4">
    <h2 class="custom-font text-shadow">About me</h2>
  </div>
  <div class="col-8">
    <p class="fs-5">
      Student at Ain Shams University, studying Computer and Information
      Sciences, passionate about learning andadvancing in the field of Flutter
      development. I bring strong analytical thinking, technical proficiency,
      teamwork,and communication skills. I am confident that my problem-solving
      abilities.
    </p>
    <div class="pt-5">
      <button
        (click)="downloadCV()"
        class="btn btn-lg rounded-1 text-light"
        style="background-color: #3d3d3d;"
      >
        Download Resume
      </button>
    </div>
  </div>
</div>
