<div class="container-fluid pt-5" style="background-color: #3d3d3d;">
  <div class="row">
    <div class="col">
      <p class="custom-font">
        Skills
      </p>
    </div>
    <div class="row d-flex justify-content-center align-content-center">
      <div class="col-10">
        <p class="p-5 pt-2 fs-6 text-light">
          I have a strong foundation in front-end technologies such as HTML,
          CSS, JavaScript, and React, complemented by frameworks like Bootstrap
          and Flutter. Proficient in multiple programming languages including
          C++, C#, Java, JavaScript, and Dart, I have a solid grasp of
          Object-Oriented Programming and Data Structures and Algorithms. My
          technical expertise is paired with adeptness in version control using
          GitHub. Additionally, I excel in leadership, communication, teamwork,
          and problem-solving, ensuring effective collaboration and project
          success.
        </p>
      </div>
    </div>
    <div class="row p-5">
      <div
        class="col-6 d-flex flex-column justify-content-center align-items-center"
      >
        <p class="pt-2 px-5 fs-4 fw-bold text-light text-start">
          My Focus
        </p>

        <hr class="custom-hr" />
        <p class="pt-2 px-5 fs-5 text-light">
          UI/UX Design
        </p>
        <p class="pt-2 px-5 fs-5 text-light">
          Responsive Design
        </p>
        <p class="pt-2 px-5 fs-5 text-light">
          Web Design
        </p>
        <p class="pt-2 px-5 fs-5 text-light">
          Mobile Design
        </p>
      </div>
      <div class="col-6">
        <app-skillscomponent title="HTML" [width]="95"></app-skillscomponent>
        <app-skillscomponent title="CSS" [width]="90"></app-skillscomponent>
        <app-skillscomponent
          title="Bootstrap"
          [width]="80"
        ></app-skillscomponent>
        <app-skillscomponent title="React" [width]="50"></app-skillscomponent>
        <app-skillscomponent
          title="JavaScript"
          [width]="60"
        ></app-skillscomponent>
        <app-skillscomponent title="Flutter" [width]="95"></app-skillscomponent>
        <app-skillscomponent title="Node.js" [width]="25"></app-skillscomponent>
      </div>
    </div>
  </div>
</div>
